.form-group1,
.form-group2 {
  display: flex;
  align-items: center;

  flex: 1;
}

.form-group1 label,
.form-group2 label {
  font-size: 25px;
  width: 200px;
  text-align: right;
}

.form-group1 input,
.form-group2 input {
  width: 500px;
  flex: 1;
  height: 70px;
  border-radius: 0.5cm;
  border: 0.07cm solid #aaaaaa81;
  font-size: 25px;
  margin-left: 20px;
}

.form-group1 {
  margin-top: 50px;
}

.form-group2 {
  margin: 30px;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: #ebe1ce;
  border-radius: 0.3cm;
  margin-top: 130px;
  position: relative;
}

.input-button span {
  font-size: 25px;
}

.input-button:hover {
  cursor: pointer;
}

.input-button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}
