.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-bottom: 0.05cm solid #ebe1ce;
}

.title span {
  font-size: 100px;
  font-weight: 300;
}

.title img {
  height: 115px;
  width: 115px;
}

.check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.check-circle span {
  font-size: 35px;
  margin-top: 40px;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-bottom: 0.05cm solid #ebe1ce;
}

.title span {
  font-size: 100px;
  font-weight: 300;
}

.title img {
  height: 115px;
  width: 115px;
}
