.form-group {
  display: flex;
  align-items: center;

  flex: 1;
}

.form-group label {
  font-size: 25px;
  width: 200px;
  text-align: right;
}

.form-group input {
  width: 500px;
  flex: 1;
  height: 70px;
  border-radius: 0.5cm;
  border: 0.07cm solid #aaaaaa81;
  font-size: 25px;
  margin-left: 20px;
}

.form-group {
  margin-top: 50px;
}

.nickname-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70px;
  background-color: #ebe1ce;
  border-radius: 0.3cm;
  margin-top: 150px;
  position: relative;
}

.input-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}

.input-button span {
  font-size: 25px;
}

.current-nickname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 30px 0;
}

.current-nickname span {
  font-size: 25px;
}

#current-nickname {
  display: flex;
  align-items: center;
}

#current-nickname::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 2px;
  margin: 0 20px;
  background-color: #aaaaaa;
}

.input-button:hover {
  cursor: pointer;
}

.input-button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}
